<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout "
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>

</head>
<body>

<div layout:fragment="continut" class="container">
    <div class="row">

        <div class="col-4" style="width:22rem;height:20rem;padding:4em 0em 3em 0em;">
            <img th:src="@{/images/me.jpg}" alt="Me" style="width: 300px; height: 450px;"
                 class="card-img-top"
            ></div>

        <div class="col-7" style="width:22rem;height:25rem;padding:4em 4em 4em 4em;">
            </br>
            <h3 style="color:#636926">Mirela Mocanu</h3>
            <h5> Economist with creative affinities. </h5>
            </br>
            <h3>About Me</h3>

            <p style="font-size:16;color:#636926"> I come from a long line of accountants. So,naturally, I graduated
                Economics field related university
                (Accounting).
                Also graduated from related field high school before that and a master afterwards.
                So I had all knowledge to become a good professional.
                After that , I worked in accounting area , banks and then controlling, but I never settled for less.
                And all of these seemed less than what I could really do. So, I started doing other kinds of
                trainings.
                I became a certified English translator and also HR professional.
                My biggest personal wish was to be able to really learn a programming language (though I studied a
                few
                in college,it was not enough to land a job).
                Now having a time off from my current job, I dedicated myself to raising my son and studying Java.
            </p>
        </div>

    </div>
</div>


</body>
</html>