<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout "
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>My Soup Recipes</title>
</head>

<body>

<div  layout:fragment="continut" class="container">
    <div class="row">
        <div class="column">
            <h4 style="padding:0em 2em 1em 0em;">My Soup Recipes</h4>
        </div>
    </div>

    <div class="row">

        <div class="card" style="width: 22rem;padding:1em 1em 0 1em;border-color:#d0f7b0"
             th:each="recipe: ${soup_recipes}">
            <div th:href="@{/details/{id}(id=${recipe.id})}">
                <img th:src="@{'data:image/png;base64,'+${recipe.image}}" class="card-img-top"
                     th:alt="${recipe.name}">
                <div class="card-body">

                    <h4><a th:href="@{/details/{id}(id=${recipe.id})}" th:text="${recipe.name}"></a></h4>
                    <p class="card-text" th:text="${recipe.description}"></p>
                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>